li {
 display: block;
 transition-duration: 0.5s;
}

li:hover {
  cursor: pointer;
}

ul li ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
  left: 0;
  display: none;
}

ul li:hover > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

ul li ul li {
  clear: both;
  width: 100%;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }

  .container > * {
    color: #353535;
    font-size: 1.2em;
    line-height: 1.5;
    padding: 20px;
    background: #d0cfc5;
  }
   
  .container nav {
    background: #136fd2;
  }
   
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
   
  nav a {
    color: #d0cfc5
  }
   
  nav a:hover {
    text-decoration: none;
  }

nav ul li {
    display: inline-block;
    padding: 0 20px 0 0;
  }

  img {
      max-width: 100%;
  }

  @media only screen and (min-width: 600px) {
     
    /* grid */
    .container {
      grid-template-columns: repeat(4, 1fr);
    }
    
    /* specific item styles */
   
    .container header,
    .container nav,
    .container footer {
      grid-column: span 4;
    }
    .container section {
      grid-column: span 3;
    }

    .toggle {
        display: none;
      }
  }

  @media only screen and (max-width: 599px) {
   
    #nav {
        position: fixed; /* or choose `absolute` depending on desired behavior*/
        top: 0;
        bottom: 0;
        width: 300px;
        left: -340px;
        transition: transform .3s ease-in-out;
    }

    #nav:target {
        transform: translateX(340px);
      }
}
